* {
  box-sizing: border-box;
}
/*personal version*/

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 150%;
  background-color: #dff6f6;
  background-image: url("../img/bg-holidays-dm.png");
  background-size: 800px;
  background-repeat: repeat;
  color: rgb(133, 205, 238);
}

body.light {
  background-image: url("../img/bg-holidays.png");
  color: #192727;
}

.logo {
  width: 90%;
  max-width: 484px;
}

.switch-container {
  text-align: center;
  padding-bottom: 2em;
  display: flex;
  align-items: center;
}

.switch-container p {
  padding: 0 1em;
}

.switch-container input {
  height: 0;
  width: 0;
  opacity: 0;
}

.switch {
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 70px;
  height: 34px;
  background-color: rgb(133, 205, 238);
  border-radius: 34px;
}

.ball {
  position: absolute;
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  border-radius: 50%;
  background-color: #166969;
  transition: transform 0.2s ease-out;
}

.ball.move-right {
  -webkit-transform: translateX(34px);
  -ms-transform: translateX(34px);
  transform: translateX(34px);
}

h1 {
  width: 100%;
  padding-top: 1em;
  margin: 0;
  font-family: "Unlock", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 44px;
  text-align: center;
}

.celebrate {
  width: 90%;
  max-width: 484px;
}

.cat {
  width: 90%;
  max-width: 484px;
}

.container {
  background: radial-gradient(50% 50% at 50% 50%,
    rgba(167, 237, 237, 0.3) 0%,
    rgba(156, 226, 226, 0) 100%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.hide {
  display: none;
}

.highlight {
  padding: 0.25em;
  background: rgb(133, 205, 238);
  color: white;
  font-size: 1em;
}

.underline {
  border-bottom: 2px solid #fff;
  padding-bottom: 3px;
}

.word-in-progress {
  letter-spacing: 15px;
  color: rgb(133, 205, 238);
  font-size: 30px;
}

.guessed-letters {
  padding: 0;
  list-style: none;
}

.guessed-letters li {
  display: inline-block;
  padding: 0 0.5em;
}

.message {
  text-align: center;
}

.guess-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.guess-form label {
  width: 100%;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
}

input {
  width: 2.25em;
  text-align: center;
  font-size: 1.5em;
  margin-top: 0.5em;
  padding: 0.5em;
  border: 3px solid #166969;
}

input:active,
input:focus {
  outline: 0;
  border: 4px solid #166969;
}

.guess,
.play-again {
  padding: 1em 3em;
  border-radius: 50px;
  margin-top: 1em;
  color: #166969;
  background: rgb(133, 205, 238);
  font-size: 1em;
  align-self: center;
  outline: none;
  border: 0;
  cursor: pointer;
}

.guess:active,
.play-again:active,
.guess:focus,
.play-again:focus,
.guess:hover,
.play-again:hover {
  outline: 0;
  transform: scale(0.98);
  background: brightness(0.3);
  color: white;
}

/* animated background */
.win {
  padding: 0 1em;
  background: linear-gradient(-45deg, #1a8181, #166969);
  background-size: 400% 400%;
  animation: gradient 2s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@media only screen and (max-width: 500px) {
  /* Mobile STYLES HERE*/

  body {
    max-width: 90%;
  }
}